[submodule "extensions"]
	path = extensions
	url = https://github.com/test-wiki/extensions
	branch = REL1_36
[submodule "skins"]
	path = skins
	url = https://github.com/test-wiki/skins
	branch = REL1_36
[submodule "mediawiki-vendor"]
	path = mediawiki-vendor
	url = https://github.com/wikimedia/mediawiki-vendor
	branch = REL1_36
